# Node modules
node_modules/

# Source files
src/

# Build scripts and configs
*.config.js

# TypeScript config
tsconfig.json

# Package management files
*.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode/

# Mac system files
.DS_Store

# Environment variables
.env

# Documentation files
*.md
